@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-from-left {
    animation: from-left 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 250ms;
}

@keyframes from-left {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-text-left{
    animation: text-left 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 350ms;
}
@keyframes text-left {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-text-right {
    animation: text-right 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 350ms;
}


@keyframes text-right {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.animate-from-right {
    animation: from-right 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 250ms;
}


@keyframes from-right {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.image-container {
    height: 45vh;
    border-radius: 1000px;
}

.animate-from-top {
    animation: from-top 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 250ms;
}

@keyframes from-top {

    0% {
        transform: translateY(-80%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}